.brand {
    transition: all ease-in .2s;
    margin: 1em;
    opacity: 0.5;

    a {
        text-decoration: none;
        color: black;
        display: inline-block;
        transition: all ease-in .2s;

        &:hover {
            opacity: 1;
        }
    }

    h1 {
        font-size: 2em;
        text-transform: uppercase;
        margin: 10px;
        color: black;
    }

    h2 {
        font-size:  0.8em;
        font-weight: 100;
        margin: 10px;
    }
}
