.button {
    background: white;
    color: black;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0.5em 1em;
    text-decoration: none;
    min-width: 10em;
    display: inline-block;
    border: 1px solid black;
    transition: all ease-in .2s;
    line-height: 100%;
    text-transform: lowercase;

    &:hover {
        background: #999;
        color: white;
    }

    &.active {
        background: #333;
        color: white;
    }

    &.disabled, &.disabled:hover {
        background: white;
        color: silver;
        border-color: silver;
        cursor: not-allowed;
    }

    &.mini {
        font-size: 0.8em;
        padding: 0.3em;
        min-width: 7em;
        margin: 0.1em;
    }
}

.like-button {
    &.liked {
        &:extend(.button.active);
    }

    &.loading {
        &:extend(.button.disabled);
    }
}
