.loading-container {
    min-height: 20em;
    background: rgba(255, 255, 255, 1);
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .2);
        position: absolute;
        top: 0;
        left: 0;
        content: " ";
    }

    .spinner {
        display: inline-block;;
        width: 40px;
        height: 40px;
        background-color: black;
        margin: 150px auto;
        margin-left: -20px;
        animation: sk-rotateplane 1.2s infinite ease-in-out;
        position: absolute;
        z-index: 10;
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0.8;
    }
}
