.paginator {
    .paginator-link {
        &:extend(.button);
        &:hover {
            &:extend(.button:hover);
        }

        &.disabled {
            &:extend(.button.disabled);
        }
    }

    .paginator-previous {
        &::before {
            content: "◄  "
        }
    }

    .paginator-next {
        &::after {
            content: "  ►"
        }
    }
}
