.shots-wall {
    min-height: 15em;
    margin: 2em auto;
    // max-width: 1160px;

    .shots-wall-list {
        list-style: none;
        padding: 0;

        display: flex;
        flex-flow: row wrap;

        //-webkit-flex-flow: row wrap;
        justify-content: center;

        .shots-wall-list-item {
            width: 15em;
            height: 11.2em;
            margin: 1em .5em;
            position: relative;
            transition: all .2s ease-in;

            border: 1px solid white;
            outline: 1px solid #eee;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

            &.small {
                width: 10em;
                height: 7.5em;
            }

            &.large {
                width: 25em;
                height: 18.75em;
            }

            img {
                width: 100%;
                height: auto;
            }

            a {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }

            &.animated {
                &::after {
                    content: "gif";
                    background: rgba(0,0,0,1);
                    color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: .7em;
                    padding: 0.4em;
                    border-radius: 100%;
                }
            }

            .shot-cover {
                background: white;
                transition: all ease-in .2s;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;

                &:hover {
                    opacity: 0.8;
                }

                .title {
                    font-size: 1em;
                    font-weight: 600;
                    vertical-align: middle;
                    display: inline;
                    padding: .5em;
                    line-height: 130%;
                    text-align: center;
                    width: 100%;
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
