.userbar {
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: center;

  .login-button {
    color: #333;
    text-decoration: underline;
    font-size: 14px;
    text-transform: lowercase;
  }

  .user {
    display: none;
    font-size: 14px;
  }

  &.logged-in {
      .login-button {
          display: none;
      }

      .user {
          display: block;
      }
  }
}
