.home {
    .brand {
        opacity: 1;

        h1 {
            font-size: 3em;
            color: black;
        }

        h2 {
            font-size: 1.1em;
            font-weight: 100;
            margin: 10px;
        }
    }

    .sizes-selector {
        margin: 1.8em 0;
    }

    &.loading .infinity-paginator .paginator-link {
        &:extend(.button.disabled);
    }
}
