.shot {
    > section {
        margin: 20px;
    }

    h1 {
        font-size: 2em;
        font-weight: 600;
        color: black;
        border-bottom: 1px dotted silver;
        width: 90%;
        max-width: 800px;
        margin: auto;
        padding: .5em;
    }

    .shot-body img {
        border: 1px solid white;
        outline: 1px solid #eee;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        max-width: 100%;
    }

    .shot-author {
        font-weight: 100;

        a {
            font-weight: 600;
            color: black;
            text-decoration: underline;
        }

        img {
            max-width: 48px;
            vertical-align: middle;
            margin-right: 20px;
        }
    }

    .shot-statistics {
        color: silver;

        .shot-statistics-list {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            max-width: 35em;

            .shot-statistcs-info {
                list-style: none;
                display: inline-block;
                width: 33.33%;
            }
        }
    }

    .shot-description {
        max-width: 800px;
        width: 80%;
        margin: 20px auto;
        line-height: 120%;

        background: #f2f2f2;
        padding: 2em;
        font-style: italic;
    }
}
