@import "../../node_modules/normalize.css/normalize.css";

@import "fonts";
@import "variables";

html {
    scroll-behavior: smooth;
}
body {
    font-family: @default-font;
    padding: 1em;
    margin: 0;
    text-align: center;
    color: @primary-color;
}

body, body * {
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
}

.page-body {
    position: relative;
}

@import "components/searchbar";
@import "components/shotswall";
@import "components/loading";
@import "components/userbar";
@import "components/inlinelist";
@import "components/button";
@import "components/paginator";
@import "components/brand";
@import "pages/home";
@import "pages/shot";
